html, body {
    height: 100%;
    width: 100%;
  }
  {
    padding: 0;
    margin: 0;
  font-family: sans-serif;
  }
  
  body {
    background-image: url(pic.jpg);
    background-size: cover;
  color: rgb(13, 252, 69);
  }
  
  .registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 400px;
  }
  
  .registration-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform:uppercase ;
    margin: 40px;
  }
  
  .registration-form  p {
    font-size: 20px;
    margin: 15px 0;
  }
  
  .registration-form input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    
  }
  .registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50;
    border: 0;
    border-radius: 5;
    background-color: #fff;
    
  }
  .stand {
    text-align: center;
  }
  .registration-form button:hover{
    color: red;
  }
  